body {
    background: url('https://previews.123rf.com/images/benchart/benchart1111/benchart111100426/11248988-Illustration-of-a-summer-sunny-beach-poster-background-horizon-over-water-and-sailboats-Stock-Vector.jpg') no-repeat center center fixed;
    background-size: cover;
}

#sun {
    height: 100px;
    width: 100px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
    left: 38%;
    bottom: 0%;
}

#horizon {
    position: relative;
    height: 54.5vh;
    overflow: hidden;
}
